.footer{
    background:#020617;
    border-top:1px solid #1E293B;
    padding:35px 8% 15px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
}

.footer-logo h2{
    color:#38BDF8;
    font-size:30px;
    margin-bottom:6px;
}

.footer-logo p{
    color:#94A3B8;
    font-size:15px;
}

.footer-links{
    display:flex;
    gap:28px;
}

.footer-links a{
    text-decoration:none;
    color:#CBD5E1;
    font-size:16px;
    transition:.3s;
}

.footer-links a:hover{
    color:#38BDF8;
}

.footer-social{
    display:flex;
    gap:16px;
}

.footer-social a{
    width:42px;
    height:42px;
    background:#1E293B;
    color:#38BDF8;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:18px;
    transition:.4s;
}

.footer-social a:hover{
    background:#38BDF8;
    color:#fff;
    transform:translateY(-5px);
}

.footer-bottom{
    margin-top:25px;
    padding-top:18px;
    border-top:1px solid #1E293B;
    text-align:center;
}

.footer-bottom p{
    color:#94A3B8;
    font-size:14px;
}

@media(max-width:900px){

    .footer-top{
        flex-direction:column;
        text-align:center;
    }

    .footer-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:18px;
    }

    .footer-social{
        justify-content:center;
    }

}