
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    background:#0F172A;
    color:#F8FAFC;
    font-family:'Poppins',sans-serif;
}

section{
    padding:100px 8%;
}
.primary-btn{
    background:linear-gradient(135deg,#38BDF8,#2563EB);
    color:white;
    border:none;
    padding:14px 34px;
    border-radius:50px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.4s;
}

.primary-btn:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 35px rgba(56,189,248,.35);
}